<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_veiculo.tipo %>
</p>

<%= link_to 'Edit', edit_tipo_veiculo_path(@tipo_veiculo) %> |
<%= link_to 'Back', tipo_veiculos_path %>
