<a>LOGO</a>

<ul>
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/clientes">Clientes</a>
  </li>
  <li>
    <a href="/veiculos">Veiculos</a>
  </li>
  <li>
    <a href="/convenios">Convenios</a>
  </li>
</ul>